*{
    box-sizing: border-box;
    text-align: center;
}
#root {
    padding: 50px;
    margin: 20px auto;
    background-color: lightblue;
    border: 1px solid darkblue;
    width: 50%;
}

button {
    padding: 15px;
    border: 1px solid green;
    background-color: lightgreen;
    cursor: pointer;
    border-radius: 30%;
}

button:hover {
    background-color: greenyellow;
}

input {
    padding: 20px;
    background-color: lightpink;
}